<tr>
  <td id="prenom_enfant_<%= child.id %>"><%= child.first_name %></td>
  <td id="nom_enfant_<%= child.id %>"><%= child.birth_date %></td>
  <td id="activ_enfant_<%= child.id %>"><%= child.activities.map{ |activity| activity.title + ", "}.join.chop.chop %></td>
</tr>
