<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>Création de compte</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :civility, label: "Civilité", :collection => [ "M.", "Mme", "Mlle"]%>
          <%= f.input :first_name, label: "Prénom" %>
          <%= f.input :last_name, label: "Nom" %>
          <%= f.input :address, label: "Adresse" %>
          <%= f.input :main_phone, label: "Téléphone principal" %>
          <%= f.input :secondary_phone, label: "Téléphone secondaire" %>
          <%= f.input :password, label: "Mot de passe", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "Confirmation du mot de passe" , required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Créer mon compte" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
