<h1>Bienvenue <%= @user.first_name + " " + @user.last_name %></h1>

<h3>Vos informations :</h3>
<ul>
  <li>Civilité: <%= @user.civility %></li>
  <li>Prénom: <%= @user.first_name %></li>
  <li>Nom: <%= @user.last_name %></li>
  <li>Adresse: <%= @user.address %></li>
  <li>Téléphone principale: <%= @user.main_phone %></li>
  <% unless @user.secondary_phone.blank?  %>
    <li>Téléphone secondaire: <%= @user.secondary_phone %></li>
  <% end %>
</ul>

<%= link_to "Modifier vos informations", edit_user_path(@user) %>
<br>
<%= link_to "Ajouter un enfant", new_user_child_path(@user) %>

<h3>Vos enfants</h3>

<% @children.each do |child| %>
  <div class="enfant">
    <li>Prénom: <%= child.first_name %></li>
    <li>Nom: <%= child.last_name %></li>
    <li>Sexe: <%= child.sex %></li>
    <li>Date de naissance: <%= child.birth_date %></li>
    <li>Ecole: <%= child.school %></li>
    <% unless child.classe.blank?  %>
      <li>Classe: <%= child.classe %></li>
    <% end %>
    <% unless child.extra_info.blank?  %>
      <li>Information complémentaire: <%= child.extra_info %></li>
    <% end %>
  </div>
  <%= link_to "Modifier", edit_child_path(child) %>
  <br>
  <%= link_to "Supprimer", child_path(child), method: :delete, data: {confirm: "Etes vous sûr de vouloir supprimer cet enfant ? Il sera automatiquement supprimé des toutes les activités auxquelles il est inscrit."} %>
  <br>
<% end %>
