<%= simple_form_for([activity, inscription], remote: true ) do |f| %>

  <div class="form-inputs">
    <%= f.hidden_field :activity_id, value: activity.id %>
    <p>Activité : <%= activity.title %></p>
    <%= f.input :child_id, label: "Enfant", input_html: { id: "child_first_name"}, :collection => current_user.children.map { |child| child.first_name} %>

  </div>
  <div class="form-actions">
    <%= f.button :submit, "Inscrire", class: "btn btn-primary" %>
  </div>
<% end %>

